/*=============== Loading ===============*/

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.loading {
    width: 100%;
    height: 100%;
    @include position(fixed, 0, 0);
    z-index: 1000;
    @include flex-center(column, 1rem);
    background: $dark-1;
    transition: opacity 0.8s ease, visibility 0.8s ease;

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    &-ring {
        width: 80px;
        height: 80px;
        position: relative;

        &::before, &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            border: 2px solid transparent;
        }

        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-top-color: $primary;
            border-right-color: $primary;
            animation: spin 1.2s linear infinite;
        }

        &::after {
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            border-bottom-color: $secondary;
            border-left-color: $secondary;
            animation: spin 0.8s linear infinite reverse;
        }
    }

    &-text {
        color: $primary;
        @include font(500, 12px, 4px);
    }
    
}