/*=============== Background ===============*/

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.ambient-bg {
	
	@include position(fixed, 0, 0);
    width: 100%;
    height: 100%;
	z-index: 0;

	.orb {
		background: transparent;
		position: absolute;
		border-radius: 50%;
		filter: blur(80px);
	}
	
	.orb-1 {
		width: 600px;
		height: 600px;
		background: radial-gradient(circle, $glow-cyan 0%, transparent 70%);
		top: -200px;
		left: -200px;
	}

	.orb-2 {
		width: 500px;
		height: 500px;
		background: radial-gradient(circle, $glow-magenta 0%, transparent 70%);
		bottom: -200px;
		right: -200px;
	}

	.orb-3 {
		width: 400px;
		height: 400px;
		background: radial-gradient(circle, rgba(157, 78, 221, 0.3) 0%, transparent 70%);
		top: 55%;
		left: 65%;
	}

}

.grid-overlay {
	@include position(fixed, 0, 0);
	width: 100%;
	height: 100%;
	background-image:
		linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
	background-size: 5rem 5rem;
	pointer-events: none;
	z-index: 1;
}

