/*=============== BASE ===============*/

@use '../utilities/variables' as *;

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background: $dark-1;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    transition: .5s; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}