@use 'base/base';
@use 'base/animations';
@use 'base/background';

@use 'layout/layout';
@use 'layout/container';
@use 'layout/header';
@use 'layout/footer';
@use 'layout/menu';

@use 'sections/loading';
@use 'sections/introduction/introduction-1';
@use 'sections/introduction/introduction-2';
@use 'sections/about';
@use 'sections/services';
@use 'sections/gallery';
@use 'sections/testimonials';
@use 'sections/contact';
