/*=============== Footer ===============*/
@use 'media-queries' as *;
@use '../config/variables' as *;

.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
    
    p {
        color: rgba(255, 255, 255, 0.4);
        letter-spacing: 1px;

        @include phone {
            padding-inline: 2rem;
            text-align: center;
            font-size: 14px;
        }

        a {
            color: $primary;
            transition: all 0.5s ease;

            &:hover {
                color: $secondary;
                filter: drop-shadow(0 0 10px $secondary);
            }
        }
    }

}