/*=============== Footer ===============*/

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.footer {
    display: flex;
    justify-content: center;
    padding: 2rem 0 1rem 0;
    opacity: 0;
    animation: fadeUp 0.5s ease-out 1.7s forwards;

    p {
        color: rgba(255, 255, 255, 0.6);
        letter-spacing: 1px;

        @include phone {
            padding-inline: 2rem;
            text-align: center;
            font-size: 14px;
        }

        a {
            color: $primary;
            transition: all 0.5s ease;

            &:hover {
                color: $secondary;
                filter: drop-shadow(0 0 10px $secondary);
            }
        }
    }

}